<div class="d-flex flex-column" aria-label="Filter tasks">
  <h2>Filter tasks by</h2>

  <form>
    <div class="d-flex flex-column gap-2 flex-wrap mb-2 align-items-center">
      {% include 'partials/dropdown/filter.html' with
        name='category'
        label='All categories'
        choices=category_choices 
        selected=category
      %}

      {% include 'partials/dropdown/filter.html' with 
        name='priority'
        label='All priorities'
        choices=priority_choices
        selected=priority
      %}

      {% include 'partials/dropdown/filter.html' with
        name='status'
        label='All statuses'
        choices=status_choices
        selected=status
      %}
    </div>

    <div class="d-flex flex-row gap-3 align-items-center">
      <label for="assigned_to_me" class="form-check-label d-flex gap-2">
        <input 
          type="checkbox" 
          id="assigned_to_me" 
          name="assigned_to_me" 
          class="form-check-input" 
          value="true"
          {% if request.GET.assigned_to_me == 'true' %}checked{% endif %}
        >
        Assigned to me 
      </label>
      
      <button type="submit" class="btn btn-success"><i class="fa-solid fa-filter"></i> Filter</button>
    </div>
  </form>
</div>